@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&family=Grey+Qo&display=swap');
.google_font{
    font-family: "Anek Devanagari", sans-serif;
    font-weight: 100;
    background: #111111;
}
.header_color{
    background: #777777;
    background-color: #111111
}


/*  navbar style start */
.title_header{
    color: orangered;
    font-weight: 800;
    font-size: 35px;
}
.nav_list{
    list-style: none;
    font-weight: 300;
    color: white;
    display: flex;
    
}
#first_list{
    background-color: orangered;
    padding: 0px 12px;
    border-radius: 16px;
}
ul>li{
    margin-right: 14px;
    color: white;
}
.nav_conteiner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 110px;
}
/*  navbar style end */


/* banner style start */
.first_button{
    display: flex;
    
}
.banner_conteiner{
    color: white;
}
.banner_description{
    font-size:15px;
    font-weight: 50;
    margin-bottom: 20px;
}
.btn_1{
    background-color: orangered;
    color: white;
    margin-right: 8px;
    padding: 8px 16px;
    border-radius: 16px;
    border: none;
}
.btn_2{
    color: white;
    padding: 8px 16px;
    border-radius: 16px;
    border-color: white;
    opacity: 16px;
    background-color: black;
}
.full_title_banner{
    font-size: 40px;
    margin-bottom: -0;
    font-weight: 800;

}
.banner_title{
    font-family: "Grey Qo", cursive;
    font-weight: 400;
    font-size: 40px;
}
.bennar_section{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.banner_img{
   
    object-fit: cover;
}
.banner_extra{
    color: white;
    background-color: #777777;
    opacity: 10px;
    border-radius: 16px;
    padding: 2px;
    display: flex;
    justify-content: center;
    height: 100px;
    font-weight: 400;
}

/* banner style end */